*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
html,
body {
  /* height: 100%; */
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #555;
  color: whitesmoke;
}
body {
  max-width: 350px;
  margin: 0 auto;
  background-image: url('../images/bg-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  position: relative;
}
main {
  padding-bottom: 3rem;
  background-color: red;
}
header {
  padding-bottom: 3rem;
}
footer {
  height: 3rem;
  background-color: rgba(96, 95, 95, 0.941);
  border-top: 0.5px solid gray;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}
ul {
  list-style-type: none;
}
li {
  list-style: none;
}
a {
  color: inherit;
  cursor: pointer;
}
i {
  color: whitesmoke;
}
nav {
  display: flex;
}
.icons--container {
  display: flex;
}
.flex {
  display: flex;
}
